<?xml version='1.0' encoding='utf-8'?>
<odoo>
    <!-- This Menu Item will appear in the Upper bar, that's why It needs NO parent or action -->
    <menuitem id="apotek_menu_root"
              name="Apotek" 
              sequence="10"/>

    <!-- This Menu Item Must have a parent -->
    <menuitem id="obat_apotek_menu_categ" 
              name="OBAT"
              parent="apotek_menu_root"
              sequence="20"/>

    <!-- This Menu Item Must have a parent -->
    <menuitem id="pasien_apotek_menu_categ"
              name="PASIEN" 
              parent="apotek_menu_root" 
              sequence="20"/>

    <!-- This Menu Item Must have a parent -->
    <menuitem id="transaksi_apotek_menu_categ"
              name="TRANSAKSI" 
              parent="apotek_menu_root" 
              sequence="20"/>
</odoo>